<div class = "twoline" style = "width: 500px; margin-left: 200px;">
<ul>
	<li><%= film.title%></li>
    <li><%=film.year%></li>
    <li><%=film.rating%></li>
    <li><%=film.genre%></li>
    <li><%=film.director%></li>
    <li><%=film.actors%></li>
    <li><%=film.plot%></li>

    <br><img src="<%=film.poster_url%>"></li>
</ul>

</div>

<!-- .year.rating.genre.director.actors.plot.poster_url %> -->
