
<ul>
	<li><%= film.title%></li>
    <li><%=film.year%></li>
    <li><%=film.rating%></li>
    <li><%=film.genre%></li>
    <li><%=film.director%></li>
    <li><%=film.actors%></li>
    <li><%=film.plot%></li>
    <li><img src="<%=film.poster_url%>"></li>
</ul>

<!-- .year.rating.genre.director.actors.plot.poster_url %> -->
